
@charset "UTF-8";
	
	* {
		margin: 0;
		padding:0;
		-webkit-tap-highlight-color: transparent;
	}
	
    
    .logo { 
    	width: 80px;
    	height:40px
    }  
	
	.header-wrap {
		width:100%;
		height:330px; 
		background : transparent;
		overflow: hidden;
		z-index: 1;

	}
	
	.footer-center  a { 
	 	color: #E6E6E6;
		text-decoration:none;
		cursor: pointer;
		
	} 
	
	.footer-wrap {
		width: 100%;
		height: 750px;
		background-color: #585858;
		text-align: center;
		color: #E6E6E6;
	}
	.footer-center {
		display: inline-block;
	}
	
	.footer-top {
		display: flex;
		margin-top: 20px;
	}
	
	.footer-top > div {
		
		margin: 10px;
		width : 300px;
		height: 350px;
		text-align: left;
	}

	.footer-logo {
		
	}
	.footer-introduce {

	}
	.footer-notice {

	}
		
	.footer-sns {

	}
	
	.footer-mid {
		margin: 10px;
		width: 1260px;
		height: 70px;
	}
	
	.footer-bottom {
		display: flex;
	}
	
	.footer-bottom > div {
		margin: 10px;
		padding: 10px;
		width: 600px;
		height: 200px;
	}
	.footer-info {
		text-align: left;
	}
	.footer-lang {
		text-align: right;
	}
	video {
		
		position: relative;
		top: 0px;
		left: 0px;
		min-width:100%;
		height:auto;
		z-index:-2;
		overflow: hidden;		
		
	}
	
	
	.inner-logo {

		width:240px;
		height:130px;
	}
	
	.title-wrap {
		position: absolute;
		top: 70px;
		width: 100%;
    	font-size: 1.8rem;
    	line-height: 45px;
		margin : auto;
		color: white;
		text-align: center;
	}
	.search-wrap{
		position: absolute;
		top: 200px;
		width:100%;
		
	}
	
	.main-search {
		display: flex;
	    height: 60px;
	    width: 750px;
		margin:auto;
	    border: 2px solid #ff7100;
	    border-radius: 80px;
	    background:white;
	    
	}
	
	.search-form{
		display: flex;
		height: 60px;
	    width: 680px;
	    margin:auto;
	}
	
	.icon-box {
		margin-left: 25px;
		
	}
	
	.fa-search {
		margin-top: 8px;
		font-size: 45px;
		color: lightgray;
	}
	
	.HomeSearchInput {
		border: none;
		margin-top: 2px;
		margin-left: 25px;
		width: 600px;
		height: 56px;
		font-size: 25px;
	}
	
	.btn-search {
		width: 180px;
		height: 60px; 
		text-align: center;
		background: #ff7100;
		border: 2px solid #ff7100;
		border-radius: 80px;
		color : white;
		font-size: 25px;
		font-weight: bold;
	}
	
	input[type=text] {
		outline: none;
	}
	
	input[type=submit] {
	    appearance: none;
	    cursor: pointer;
	    border: 0px;
	    outline: none;
	}
	

