@charset "UTF-8";

.nav-wrap {  
    	position: fixed;
    	top: 0;
    	left: 0;
    	padding: 5px;
    	width: 100%;
    	height: 40px;
    	font-size: 18px;
    	background-color: white;
    	z-index: 3;
    	text-align: center;
		list-style-type: none;
    	
    }
	
	.nav-btn {
		text-decoration:none;
		color: black;
		
	}
	
	.fa-user {
		cursor: pointer;
		font-size: 25px;
	}
	
	.fa-searchengin {
		font-size: 30px;
		margin: 5px;
		margin-left: 30px;
		color: lightgray;
	}
	.nav-HomeSearchInput{
		width: 800px;
		margin-left: 10px;
		border: 0;
		background-color: transparent;
	}
	
	.Header[data-page=home] .nav-search-wrap {
    	visibility:hidden;
	}
	.Header[data-page=home] .nav-wrap {
    	background-color: transparent;
	}
	
	.Header[data-page=home] .nav-btn {
    	color: white;
	}
	
	.pt-5 {
		padding-top: 0px;
	}
	.nav-logo-wrap {
		border: 0;
	}
	.nav-search-wrap {
		display: flex;
		width : 70%;
		border: 0;
	}
	
	.nav-list-wrap {
		width : 20%;
		padding-top: 6px;
		border: 0;
	}
	
	.nav-user-wrap {
		width : 10%;
		padding-top: 6px;
		border: 0;
	}