@charset "UTF-8";
*{
		margin:0;
		padding:0;
	}
	body{
		position: relative;
	    min-width: 320px;
	    margin: 0 auto;
	    font-size: 100%;
	    line-height: 100%;
	    text-size-adjust: 100%;
	    -webkit-text-size-adjust: 100%;
	    word-break: keep-all;
	    
		
	}

	.pg-restaurant .column-contents>.inner {
	    box-sizing: border-box;
	}
	.column-contents>.inner>section{
	    width: 800px;
	    margin: 0 auto;
	    margin-top: 20px;
	}
	.module>.title {
	    font-size: 1.125rem;
	    line-height: 1.2em;
	    color: #ff792a;
	    text-align: left;
	    font-size: 1.438rem;
	}
		
	.pg-restaurant .restaurant-detail {
	    padding: 30px 0 0;
	    width: 800px;
	    margin: 0 auto;
	}
	a {
	    text-decoration: none;
	}
	.NearByRestaurantItem__PictureAndContent {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
	}
	a:link, a:visited, a:active, a:focus {
	    text-decoration: none;
	}
	.NearByRestaurantItem__Picture.initial, .NearByRestaurantItem__Picture.loaded, .NearByRestaurantItem__Picture.error {
	    opacity: 1;
	}
	.NearByRestaurantItem__Picture:not(.initial) {
	    transition: opacity .3s;
	}
	.restaurant_name {
	    display: inline-block;
	    max-width: 100%;
	    word-break: break-all;
	}
	.NearByRestaurantItem__Picture {
	    width: 103px;
	    height: 103px;
	    margin-bottom: 0;
	}
	.NearByRestaurantItem__Picture {
	   
	    padding-bottom: 0;
	    object-fit: cover;
	    opacity: 0;
	    background-color: #E9E9E9;
	    background-size: cover;
	}
	.NearByRestaurantItem__Picture {
	    margin-bottom: 6px;
	   
	}
	a:link, a:visited, a:active, a:focus {
	    text-decoration: none;
	}
	.NearByRestaurantItem__Content {
	    -moz-box-flex: 1;
	    -moz-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1;
	    min-width: 0;
	    margin-left: 8px;
	}
	.NearByRestaurantItem__Content {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: vertical;
	}
	.NearByRestaurantItem__Name {
	    font-size: 18px;
	    line-height: 1.27;
	}
	.NearByRestaurantItem__Name {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    word-wrap: normal;
	    max-width: 64%;
	    font-size: 16px;
	    line-height: 1.3;
	    color: #555555;
	}
	.NearByRestaurantItem__Rating {
	    margin-left: auto;
	    font-size: 19px;
	    line-height: 1;
	    color: #ff792a;
	}
	.RestaurantItem__MetroAndCuisine, .NearByRestaurantItem__MetroAndCuisine {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    word-wrap: normal;
	    margin-top: 3px;
	    font-size: 12px;
	    line-height: 1.3;
	    color: #9B9B9B;
	}
	.NearByRestaurantItem__MetroAndCuisine {
	    display: none;
	}
	.NearByRestaurantItem__Info {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    word-wrap: normal;
	    font-size: 11px;
	    margin-top: 6px;
	}
	.NearByRestaurantItem__Info {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    word-wrap: normal;
	    font-size: 11px;
	    margin-top: 6px;
	}
	.NearByRestaurantItem__InfoLabel {
	    color: #9B9B9B;
	}
	.rate-point{
		color: #ff792a;
    	margin-left: 5px;
	}
	img {
	    color: rgba(255,255,255,0);
	    text-indent: -9999px;
	}
	img {
	    border: none;
	    vertical-align: top;
	}
	html,body,div,span,h1,p,a,ol,ul,li,form,label{
		border:0 none;
	}

	.restaurant-detail>header{
		border-bottom :1px solid lightgray;
		position:relative;
		padding: 20px 0 10px 0;
		heigth:74px;
		display:block;
	}
	.restaurant-detail>header>.restaurant_title_wrap{
		display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	}
	header>.status.branch_none{
		margin:5px 0 10px;
	}
	header .title {
	    padding-right: 50px;
	    max-width: 75%;
	    font-size: 1.8rem;
	    line-height: 46px;
    }
    .pg-restaurant .restaurant-detail>header .review_writing_button {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: vertical;
	    -moz-align-items: center;
	    align-items: center;
	    -webkit-align-items: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    margin: 0 19px 0 0;
	}
	
	button {
	    appearance: none;
	    cursor: pointer;
	    border: 0px;
	    border-radius: 0;
	    background-color: transparent;
	}
	
	.info {
	    padding: 20px 0;
	    position: relative;
	    display: inline-block;
	}
	table{
		border-collapse: collapse;
    	border-spacing: 0;
    	border-collapse: separate;
	    box-sizing: border-box;
	    border-spacing: 2px;
	    border-color: grey;
	}
	table tbody {
	    display: table-row-group;
	    vertical-align: middle;
	    border-color: inherit;
	}
	caption, legend {
	    display: none;
	    position: absolute;
	    width: 0;
	    height: 0;
	    font-size: 0;
	    overflow: hidden;
	    visibility: hidden;
    }
	tbody tr {
	    display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	  
	}
	.restaurant_action_button_wrap {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    margin-left: auto;
    }
    .review_writing_button{
   		margin: 0 19px 0 0;
    }
	
	.info th {
	    width: 110px;
	    font-size: .9rem;
	    display: table-cell;
	    color: rgba(79,79,79,0.6);
	    line-height: 1.7;
	    text-align: left;
	    vertical-align: top;
	    padding-right: 10px;
	    padding-bottom: 5px;
	    font-weight: normal;
	}
	.info td {
	    font-size: .9rem;
		font-weight:bold;
	    line-height: 1.7;
	    text-align: left;
	    vertical-align: middle;
	    padding-bottom: 5px;
	}
	.Restaurant_MenuItem {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    border-bottom: 1px solid #e9e9e9;
	    margin-bottom: 4px;
	}
	.Restaurant_Menu {
	    flex: 1;
	    display: inline-block;
	    margin-right: 30px;
	    white-space: normal;
	}
	.Restaurant_MenuPrice {
	    margin-left: auto;
	}
	.update_date {
    	padding: 4px 0 20px 0;
    	padding: 20px 10px 19px 10px;
	    font-size: 15px;
	    text-align: right;
	   
	}
	.RestaurantIntroduceSection {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: vertical;
	    border-bottom: 1px solid #e9e9e9;
	}
	.top-image{
		width: 100%;
	    overflow: hidden;
	    display: block;
	    display:flex;
	    
	}
	
	.column-image img{
		width:348px;
		height: 340px;
		padding:2px;
	}
	.RestaurantReviewList__Title {
	    font-size: 18px;
	    line-height: 1.2;
	    color: #4F4F4F;
	}
	.RestaurantReviewList__RestaurantName {
   	 	display: none;
	}
	.RestaurantReviewItem__Link {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    padding: 20px 0 52px 0;
	}
	.RestaurantReviewItem__User {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: vertical;
	    -moz-flex-basis: 70px;
	    -ms-flex-preferred-size: 70px;
	    flex-basis: 70px;
	    -webkit-flex-basis: 70px;
	    margin: 15px 35px 0 8px;
	}
	.RestaurantReviewItem__ReviewContent {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-flex-direction: column;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: vertical;
	    width: 605px;
	}
	.RestaurantReviewItem__ReviewTextWrap {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
	    -webkit-flex-direction: column-reverse;
	    -webkit-box-direction: reverse;
	    -webkit-box-orient: vertical;
	}
	.RestaurantReviewItem__ReviewText {
	   
	    font-size: 15px;
	    line-height: 1.666;
	    word-break: break-all;
	    color: #000000;
	}
	
	ul{
		list-style-type: none;
	}
	
	p {
	    display: block;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}
	.RestaurantReviewItem__ReviewDate {
	    -moz-order: 3;
	    -ms-flex-order: 3;
	    order: 3;
	    -webkit-box-ordinal-group: 4;
	    -webkit-order: 3;
	    font-size: 14px;
	    line-height: 1.2;
	    color: #9B9B9B;
	}
	.RestaurantReviewList__Header{
		border-top:1px solid lightgray;
	}
	.map{
		display: inline-block;
		margin: 10px 10px 10px 0;
		float: right;
		
		
	}
	.RestaurantReviewList__ReviewItem{
		border-bottom: 1px solid lightgray;
	}
	.pg-restaurant .column-side {
	    height: 100%;
	    width: 400px;
	    padding-bottom: 50px;
	}
	.pg-restaurant .side-wrap {
	    position: relative;
	    float: right;
	    width: 400px;
	    background-color: #f6f6f6;
	}
	.column-side>.inner {
	    box-sizing: border-box;
	    padding: 0 24px;
	    width: 400px;
	    margin: 0 auto;
	}
	.NearByRestaurantItem__PictureAndContent {
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
     -webkit-flex-direction: row; 
    -webkit-box-direction: normal;
     -webkit-box-orient: horizontal;
}
	.near-rastaurant {
	    padding-top: 30px;
	}
	* {
    	-webkit-tap-highlight-color: transparent;
	}
	.module {
	    padding: 33px 0 33px 0;
	    position:relative;
	}
	 .module>.title {
	    font-size: 1.125rem;
	    line-height: 1.2em;
	    color: #ff792a;
	    text-align: left;
	}
	.list-restaurants.type-single {
	    margin-top: 17px;
	}
	.list-restaurants {
	    overflow: hidden;
	}
	.list-restaurants.type-single>li {
	    float: none;
	    padding: 15px 0 15px 0;
	    width: 100%;
	    border-bottom: 1px solid #dbdbdb;
	}
	.list-restaurants>li:nth-child(odd) {
	    padding-right: 17px;
	}
	.list-restaurants>li {
	    padding-bottom: 20px;
	}
	
	.column-wrapper {
	    display: flex;
	    border-top: 6px solid #fff;
	}
	 .column-contents {
	    width: 1200px;
	    background-color: #fff;
	    flex: 1;
	    float: left;
	    padding: 0 20px;
	    height: 100%;
	}
	
	
	.ad_area {
	    margin: 0 auto;
	    font-size: 0;
	    line-height: 0;
	    text-align: center;
	}
	.pg-restaurant .module {
	    padding: 33px 0 33px 0;
	}
	.RestaurantReviewList__FilterList {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    margin-left: auto;
	}
	ol, ul, ul li {
	    list-style: none;
	}
	.RestaurantReviewList__FilterItem {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    -moz-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    -webkit-box-direction: normal;
	    -webkit-box-orient: horizontal;
	    -moz-align-items: center;
	    align-items: center;
	    -webkit-align-items: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	}
	.RestaurantReviewList__FilterButton--Selected {
	    color: #ff792a;
	}	
	.RestaurantReviewList__FilterButton {
	    padding-right: 3px;
	    font-size: 16px;
	    color: #9b9b9b;
	}
	.RestaurantReviewList__Header {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    margin-bottom: 14px;
	}
	.RestaurantReviewList__FilterList {
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    display: -webkit-box;
	    display: -webkit-flex;
	    margin-left: auto;
	}
	.RestaurantReviewList__FilterItem:nth-of-type(1):after,.RestaurantReviewList__FilterItem:nth-of-type(2):after {
	    content: '|';
	    margin: 0 7px;
	    color: #9b9b9b;
	}
	.RestaurantReviewList__ReviewCount:after {
	    display: inline;
	    content: ')';
	}
	.RestaurantReviewList__ReviewCount:before {
	    display: inline;
	    content: '(';
	}
	.RestaurantReviewList__RestaurantName {
	    display: none;
	}
	.RestaurantReviewList__FilterButton--Selected {
	    color: #ff792a;
	}
	.btn-thumb{
		visibility: hidden;
	}
	.close{
		float:right;
		
	}
	
	
	   