<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.koreait.projectE.dao.adminDAO">
	
	<select id="getCustomList" parameterType="Map" resultType="com.koreait.projectE.dto.CustomerDTO">
		SELECT * FROM (SELECT ROWNUM AS RN, A.* FROM (SELECT * FROM CUSTOMER ORDER BY CNO DESC) A)
		WHERE RN BETWEEN #{beginRecord} AND #{endRecord}
	</select>
	
	<select id="getTotelRecord" resultType="int">
		SELECT COUNT(*) FROM CUSTOMER
	</select>
	
	<select id="getDepartmentList" parameterType="Map" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * FROM (SELECT ROWNUM AS RN, A.* FROM (SELECT * FROM DEPARTMENT_INFO ORDER BY DNO DESC) A)
		WHERE RN BETWEEN #{beginRecord} AND #{endRecord}
	</select>
	
	<select id="getTotelDept" resultType="int">
		SELECT COUNT(*) FROM DEPARTMENT_INFO
	</select>
	
	<select id="UpdateUserPage" resultType="com.koreait.projectE.dto.CustomerDTO">
		select * from CUSTOMER 
		where cNo=#{cNo}
	</select>
	
	<select id="UpdateDepartmentPage" resultType="com.koreait.projectE.dto.DepartmentDTO">
		select * from DEPARTMENT_info
		where dNo=#{dNo}
	</select>
	
	<select id="getAjaxCutomer" resultType="com.koreait.projectE.dto.CustomerDTO">
		select * from customer 
		where cId like '%' || #{query} || '%' or cName like '%' || #{query} || '%' 
	</select>
	
	<delete id="deleteUser">
		delete from customer
		where cNo = #{cNo}
	</delete>
	
	<delete id="deleteReview">
		delete from review
		where cNo = #{cNo}
	</delete>
	
	<update id="UpdateUser">
		update  customer
		set cGrade = #{param1}
		where cNo = #{param2}
	</update>
	
	
	<select id="deptAcceptList" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * FROM DEPARTMENT_INFO WHERE DACCPET = 0
	</select>
	
	<select id="deptAcceptCount" resultType="int">
		SELECT COUNT(*) FROM DEPARTMENT_INFO WHERE DACCPET = 0
	</select>
	
	<select id="deptAcceptView" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * FROM DEPARTMENT_INFO WHERE DNO = #{dNo}
	</select>
	
	<update id="deptAccept">
		UPDATE DEPARTMENT_INFO SET DACCPET = 1 WHERE DNO = #{dNo}
	</update>
	
	<delete id="deptReject">
		DELETE FROM DEPARTMENT_INFO WHERE DNO = #{dNo}
	</delete>
	
</mapper>