<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.koreait.projectE.dao.adminDAO">
	
	<select id="getCustomList" resultType="com.koreait.projectE.dto.CustomerDTO">
		select * from CUSTOMER
	</select>
	
	<select id="getDepartmentList" resultType="com.koreait.projectE.dto.DepartmentDTO">
		select * from DEPARTMENT_INFO
	</select>
	
	<select id="UpdateUserPage" resultType="com.koreait.projectE.dto.CustomerDTO">
		select * from CUSTOMER 
		where cNo=#{cNo}
	</select>
	
	<select id="UpdateDepartmentPage" resultType="com.koreait.projectE.dto.DepartmentDTO">
		select * from DEPARTMENT_info
		where dNo=#{dNo}
	</select>
	
	<select id="getAjaxCutomer" resultType="com.koreait.projectE.dto.CustomerDTO">
		select * from customer 
		where cId like '%' || #{query} || '%' or cName like '%' || #{query} || '%' 
	</select>
	
	<delete id="deleteUser">
		delete from customer
		where cNo = #{cNo}
	</delete>
	
	<delete id="deleteReview">
		delete from review
		where cNo = #{cNo}
	</delete>
	
	
	
	
	<select id="deptAcceptList" resultType="com.koreait.projectE.dto.DepartmentDTO">
		SELECT * FROM DEPARTMENT_INFO WHERE DACCPET = 0
	</select>
</mapper>