<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.koreait.projectE.dao.ReviewDAO">
	
	<insert id="insertReview">
		INSERT INTO REVIEW (RNO, RTITLE, RCONTENT, RPOINT, RPOTO, RDEPTH, REPORTCOUNT, RWRITER_DATE, RAPPOINTMENT, CNO, DSAUP_NO)
		VALUES (REVIEW_SEQ.NEXTVAL, #{param1}, #{param2}, #{param3}, '', 0, 0, SYSDATE, (SELECT COUNT(*) FROM APPOINTMENT WHERE CNO='3' AND DSAUP_NO='11111111111'), 1, 11111111111)
	</insert>
	
</mapper>